.single_product {
    justify-content: center;
    padding: 32px 48px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    max-width: 100vw;
}

.single_product_thumbnails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    padding: 8px;
    margin: 16px;
}

.single_product_thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.single_product_display {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

.selected_image {
    transform: scale(1.12);
}

.single_product_details {
    width: 35%;
    padding: 16px 24px;
}

.single_product_title {
    margin-bottom: 16px;
    font-size: 32px;
}

.single_product_description {
    margin-bottom: 16px;
    line-height: 1.4;
}

.single_product_price {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

.quantity_section{
    display: flex;
    align-items: center;
    margin: 10px 0px 16px 0px;
    gap: 15px;
}

.quantity_title {
    font-size: 20px;
    font-weight: 700;
}

.quantity_input {
    font-size: 20px;
    font-weight: 700;
}

.add_cart {
    width: fit-content;
    padding: 8px 18px;
}

@media (max-width: 1180px) {
    .single_product_display{
        width: 500px;
        height: 500px;
    }
    .single_product_thumbnails{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .products_image_container{
        flex-direction: column-reverse;
    }
    .single_product_details{
        width: 100%;
    }

    .single_product{
        flex-wrap: wrap;
    }
}

@media (max-width: 680px) {
    .single_product_display{
        width: 300px;
        height: 300px;
    }
    .single_product{
        padding: 32px 24px 16px 24px;
    }
}